        /*selector*/
        /*a selector can have ,multiple properties*/
        body {
            background:pink;
            font-family: 'Courier New', Courier, monospace;
        }

        /*agregar multiples selectores, aplica los mismos estilos*/
        h1,h2{
            font-family:Georgia, 'Times New Roman', Times, serif;
            color:red;
        }

        h4 {
            color:rgb(255,0,255);
        }

        h3 {
            color:#22adff;
        }

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
        }
        /*class selector*/
        .blueboldtext {
            font-size: small;
            color:blue;
            font-weight: bold;
        }

        .largegreentext {
            font-size:large;
            color:green;
            font-weight: bold;
        }

        /*id selector*/
        #div1 {
            width: 80%;
            border: 3px solid black;
            background-color: yellow;
            color: blue;
            margin: 0 px 100px 50px 50px; /*top, right, bottom, left*/
            padding: 10px 0 0 50px; /*content*/
        }

        .underline {
            text-decoration: line-through;
        }

        .capitalize {
            text-transform: capitalize;
        }

        .textalign {
            text-align:center;
        }

        .textspacing {
            letter-spacing: 10px;
        }

        .textstyle {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: large;
            font-style: oblique;
            line-height: 200%;
            color: red;
        }

        .myborder {
            border: 4px;
            border-color: #6a3131;
            border-style: dashed;
        }

        #divbackground {
            /*width: 100%;*/
            width: auto;
            height: 500px; /*alto div*/
            border: 3px solid red;
            background-color: blue;
            /*background-image: url(https://assets-blog.hostgator.mx/wp-content/uploads/2016/11/que-es-test-usabilidad-que-sirve-blog-v01.webp);
            background-repeat: repeat;
            background-position: center;*/
            min-width: 500px; /*no se reducira mas en ancho*/
        }

        img {
            opacity: 0.1;
        }

        #img-float {

        }

        #background {
            background-image: url(./img/test.jpg);
            padding:40px;
        }
        #textbox {
            width: auto;
            height: 100px;
            background-color: black;
            padding: 10px;
            opacity: 0.7;
        }
        .text {
            color: white;
            opacity: 0.4;
        }

        #container{ 
            width: 400px;
            height: 400px;
            border : 1px solid white;
        }

        #div-1 {
            width: 50px;
            height: 50px;
            background-color: yellow;
            display: inline-block;
            /*positioning*/
            position: relative; /*default static*/ /*fixed: scroll, absolute: mantiene posicion*/
            top: 10px;
            left: 50px;

        }

        #nested-div {
            background-color: red;
            width: 31px;
            height: 31px;
            position: relative;
            top: 5px;
        }
        #div-2 {
            width: 50px;
            height: 50px;
            background-color: rgb(250,150,150);
            display: inline-block;

        }

        #div-3 {
            width: 50px;
            height: 50px;
            background-color: rgb(130,255,0);
            display: inline-block;
        }

        #yellow {
            width: 400px;
            height: 400px;
            background-color: yellow;
            position: absolute;
            top: 0px;
            z-index: 5; /*Se sobreosicionara si es mayor*/
        }

        #blue {
            width: 600px;
            height: 50px;
            background-color: blue;
            position: absolute;
            top: 0px;
            z-index: 3;
        }

        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse:collapse;
            width: 100%;
        }

        th,td {
            padding: 15px;
        }

        tr:hover{
            background-color: cyan;
        }